@charset "utf-8";

/* ----------------------------------------------- */
/*                      basic                      */
/* ----------------------------------------------- */
body{
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 2.0;
	position: relative;
}

@media screen and (max-width:768px){
	body{
		font-size: 13px;
		font-size: 1.3rem;
		line-height: 1.8;
	}
}

.txt_cl	{ text-align: center; }

@media screen and (max-width:768px){
	.txt_cl{
		text-align: left;
	}
}

.txts_xl,
.txts_ll,
.txts_l,
.txts_m,
.txts_s{
	line-height: 1.8;
}

.txts_xl{ font-size: 30px; font-size: 3.0rem; }
.txts_ll{ font-size: 24px; font-size: 2.4rem; }
.txts_l	{ font-size: 20px; font-size: 2.0rem; }
.txts_m	{ font-size: 18px; font-size: 1.8rem; }
.txts_s	{ font-size: 16px; font-size: 1.6rem; }

@media screen and (max-width:768px){
	.txts_xl{ font-size: 26px; font-size: 2.6rem; }
	.txts_ll{ font-size: 22px; font-size: 2.2rem; }
	.txts_l	{ font-size: 18px; font-size: 1.8rem; }
	.txts_m	{ font-size: 15px; font-size: 1.5rem; }
	.txts_s	{ font-size: 14px; font-size: 1.4rem; }
}

.wrapper { width: 100%; position: relative; overflow: hidden; }

.txt_back{
	display: inline-block;
	padding: 5px 10px;
	color: #fff;
	margin-right: 0.7em;
	line-height: 1.3;
	vertical-align: baseline;
}

@media screen and (max-width:768px){
	.txt_back{
		display: inline-block;
		padding: 5px 8px;
		margin-bottom: 3px;
		color: #fff;
		line-height: 1.3;
		vertical-align: baseline;
	}
}

.txt_back.bk{
	background: #37384F;
}

.txt_kkn{
	color: #CC5151;
	font-weight: bold;
}
.txt_kkn.end,
.txt_kkn.end span{
	text-decoration: line-through;
	color: #aaa;
}

.dl{	/* çµ‚äº†ã—ã¾ã—ãŸãƒãƒƒã‚¸ */
	width: 100px;
	height: auto;
	vertical-align: middle;
}

@media screen and (min-width: 769px){
	.mg_l{
		margin-left: 32px;
	}

	.mg_r{
		margin-right: 32px;
	}
}

/* ----------------------------------------------- */
/*                     reset                       */
/* ----------------------------------------------- */
.txts_rst	{ font-size: 15px; font-size: 1.5rem !important; } /* ãƒ•ã‚©ãƒ³ãƒˆã‚µã‚¤ã‚º */
.txt_em_rst	{ font-weight: normal !important; } /* æ–‡å­—ã®å¤ªã• */
.col_rst	{ color: #333; } /* æ–‡å­—ã®è‰² */

@media screen and (max-width:768px){
	.txts_rst	{ font-size: 13px; font-size: 1.3rem !important; } /* ãƒ•ã‚©ãƒ³ãƒˆã‚µã‚¤ã‚º */
}

/* ----------------------------------------------- */
/*                     width                       */
/* ----------------------------------------------- */
@media screen and (min-width:769px){
	.w200	{ width: 200px; height: auto; }
	.w300	{ width: 300px; height: auto; }
	.w400	{ width: 400px; height: auto; }
	.w500	{ width: 500px; height: auto; }
	.w600	{ width: 600px; height: auto; }
	.w700	{ width: 700px; height: auto; }
	.w800	{ width: 800px; height: auto; }
	.w900	{ width: 900px; height: auto; }
	.w1000	{ width: 1000px; height: auto; }

	.mw200	{ max-width: 200px; height: auto; }
	.mw300	{ max-width: 300px; height: auto; }
	.mw400	{ max-width: 400px; height: auto; }
	.mw500	{ max-width: 500px;	height: auto; }
	.mw600	{ max-width: 600px; height: auto; }
	.mw700	{ max-width: 700px; height: auto; }
	.mw800	{ max-width: 800px; height: auto; }
	.mw900	{ max-width: 900px;	height: auto; }
	.mw1000	{ max-width: 1000px; height: auto; }
}

/* ----------------------------------------------- */
/*                     column                      */
/* ----------------------------------------------- */
@media screen and (min-width:769px){
	.clm{
		-js-display: flex;
		display: -webkit-flex;
		display: flex;
		-webkit-flex: 1 1 auto;
		flex: 1 1 auto;
		-webkit-flex-direction: row;
		flex-direction: row;
		/* IE10 */
		display: -ms-flexbox;
		-ms-flex-direction: row;
		-ms-flex: 1 1 auto;
		list-style: none;
	}

	/* ã‚«ãƒ©ãƒ æ¨ªå¹…ç›¸å¯¾ */
	.clm_20p { width: 18%; }
	.clm_23p { width: 21%; }
	.clm_25p { width: 23%; }
	.clm_30p { width: 28%; }
	.clm_33p { width: 31%; }
	.clm_40p { width: 38%; }
	.clm_45p { width: 44%; }
	.clm_50p { width: 48%; }
	.clm_55p { width: 53%; }
	.clm_60p { width: 58%; }
	.clm_70p { width: 68%; }
	.clm_75p { width: 73%; }
	.clm_77p { width: 74%; }
	.clm_80p { width: 78%; }
	.clm_90p { width: 88%; }

	.clm_b{		/* ã‚«ãƒ©ãƒ å·¦å³å‡ç­‰åˆ†ã‘ */
		-webkit-justify-content: space-between;
		justify-content: space-between;
		-ms-flex-pack: justify;
	}

	.clm_c{		/* ã‚«ãƒ©ãƒ å·¦å³ä¸­å¤®å¯„ã› */
		-webkit-justify-content: center;
		justify-content: center;
		-ms-flex-pack: center;
	}

	.clm_a_c{	/* ã‚«ãƒ©ãƒ ä¸Šä¸‹ä¸­å¤®å¯„ã› */
		-webkit-align-items: center;
		align-items: center;
		-ms-flex-align: center;
	}

	/* 4åˆ— */
	.clm_4{
	    -webkit-flex-flow: row wrap;
	    flex-flow: row wrap;
	    width: 102%;
	    margin-left: -1%;
	    -webkit-flex: 0 1 23%;
	    flex: 0 1 23%;
	    -webkit-align-content: flex-start;
	    align-content: flex-start;
	    -ms-flex-wrap: wrap;
	    -ms-flex: 0 1 23%;
	    -ms-flex-pack: start;
	}
	.clm_4 li{
		width: 23% !important;
	}

	/* ã‚µãƒ ãƒã‚¤ãƒ«ä»˜ãã‚«ãƒ©ãƒ  */
	.thm_list {
	    width: 103%;
	    margin-left: -1.5%;
	    font-size: 0;
	    flex: 0 1 22%;
	    -webkit-flex-flow: row wrap;
	    flex-flow: row wrap;
	}

	.thm_list li {
	    display: inline-block;
	    width: 22%;
	    margin: 0 1.5% 30px;
	    padding: 0;
	    overflow: hidden;
	}

	@media screen and (max-width: 768px){
		.thm_list{
		    width: 102%;
		    margin-left: -1%;
		    font-size: 0;
		    flex: 0 1 22%;
		    -webkit-flex-flow: row wrap;
		    flex-flow: row wrap;
		}

		.s_clm li {
		    display: inline-block;
		    vertical-align: top;
		    width: 48%;
		    margin: 0 1% 7px;
		    padding: 0;
		    overflow: hidden;
		}
	}

	/* 3åˆ— */
	.clm_3{
	    -webkit-flex-flow: row wrap;
	    flex-flow: row wrap;
	    width: 103%;
	    margin-left: -1.5%;
	    -webkit-flex: 0 1 30.33%;
	    flex: 0 1 30.33%;
	    -webkit-align-content: flex-start;
	    align-content: flex-start;
	    -ms-flex-wrap: wrap;
	    -ms-flex: 0 1 30.33%;
	    -ms-flex-pack: start;
	}
	.clm_3 li{
		width: 30.33% !important;
		margin: 0 1.5%;
	}

	.clm_3.clm_c{
		-webkit-flex: 0 1 30.33%;
	    flex: 0 1 31%;
	}
	.clm_3.clm_c li{
		width: 30.33% !important;
		margin: 0 1.5%;
	}

	/* 2åˆ— */
	.clm_2{
		width: 100%;
	    list-style: none;
	    -js-display: flex;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-flex: 0 1 48.5%;
	    flex: 0 1 48.5%;
	    -webkit-flex-wrap: wrap;
	    flex-wrap: wrap;
	}

	.clm_2 > li{
		width: 48.5% !important;
	}
}

@media screen and (max-width:768px){
	.s_clm{
		width: 102%;
		margin-left: -1%;
		font-size: 0;
	}

	.s_clm li{
		display: inline-block;
		vertical-align: top;
		width: 48%;
		margin: 0 1% 7px;
		padding: 0;
		overflow: hidden;
	}

	.clm_change{
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}

	.clm_20p,
	.clm_25p,
	.clm_30p,
	.clm_33p,
	.clm_40p,
	.clm_45p,
	.clm_50p,
	.clm_55p,
	.clm_60p,
	.clm_70p,
	.clm_75p,
	.clm_80p{
		margin-top: 45px;
	}
}

/* ----------------------------------------------- */
/*                      list                       */
/* ----------------------------------------------- */
ul.std li{	/* é€šå¸¸ - é»„è‰²è±å½¢ */
	position: relative;
	line-height: 1.7;
	margin-bottom: 0.5em;
	padding-left: 27px;
}

ul.std > li::after{
	content: '';
	display: block;
	position: absolute;
	background: #d59d87;
	width: 6px;
	height: 6px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 9px;
	left: 8px;
}

ul.arrow > li{	/* é€šå¸¸ - å¤§ãã„ãƒªã‚¹ãƒˆãƒžãƒ¼ã‚¯ */
	position: relative;
	line-height: 1.7;
	margin-bottom: 0.5em;
	padding-left: 30px;
}

ul.arrow > li::after{
	display: block;
	position: absolute;
	content: '\f0a9';
	font-family: FontAwesome;
	font-size: 19px;
	font-size: 1.9rem;
	top: 0;
	left: 0;
}

@media screen and (max-width: 768px){
	ul.arrow > li{
		padding-left: 24px;
	}

	ul.arrow > li::after{
		font-size: 16px;
		font-size: 1.6rem;
	}
}

ul.circle > li{	/* é€šå¸¸ - çŸ¢å°ãƒžãƒ¼ã‚¯ */
	position: relative;
	margin-left: 1em;
	padding: 0 0 0 20px;
}

ul.circle > li::after{
	content: '\f0a9';
	font-family: FontAwesome;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

ul.kome li{	/* æ³¨æ„äº‹é … - â€»ãƒžãƒ¼ã‚¯ */
	position: relative;
	padding: 0 0 0 20px;
}

ul.kome li::after{
	content: 'â€»';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

ul.check > li{	/* é€šå¸¸ - ãƒã‚§ãƒƒã‚¯ãƒžãƒ¼ã‚¯ */
	position: relative;
	margin-left: 1em;
	margin-bottom: .4em;
	padding: 0 0 0 20px;
}

ul.check > li::after{
	content: '\f14a';
	font-family: FontAwesome;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

/* ----------------------------------------------- */
/*                   text color                    */
/* ----------------------------------------------- */
.col_wht	{ color: #fff; }
.col_gly	{ color: #8b837e; }
.col_bwn	{ color: #8a582d; }

.col_mku	{ color: #05aba2; }
.col_rin	{ color: #d09100; }
.col_len	{ color: #ECC547; }
.col_lka	{ color: #e444c8; }
.col_mko	{ color: #CC5151; }
.col_kto	{ color: #3067b8; }

.week_sat	{ display: inline; color: #0089ec; }
.week_sun	{ display: inline; color: #e85959; }

.txt_cre {	/* ã‚¯ãƒ¬ã‚¸ãƒƒãƒˆæ–‡å­— */
	color: #666666;
	font-size: 11px;
	font-size: 1.1rem;
	line-height: 1.4;
	margin-top: 3px;
}

.txt_mark{
	display: inline !important;
	-webkit-background: linear-gradient(transparent 0%, #fff5ca 0%);
	background: linear-gradient(transparent 0%, #fff5ca 0%);
	line-height: 1.6;
}

/* ----------------------------------------------- */
/*                     button                      */
/* ----------------------------------------------- */
a.btn{
	display: inline-block;
	padding: 10px 2em;
	margin: 0 auto;
}

a.btn.soon,
a.btn_y.soon{ /* å¾…ã¡çŠ¶æ…‹ãªã©ã§ãƒªãƒ³ã‚¯ã—ãªã„ãƒœã‚¿ãƒ³ */
	padding: 10px 2em;
	display: inline-block;
	margin: 0 auto;
	color: #d6d6d6;
	background: #aaa;
	font-weight: bold;
}
a.btn.soon .fa,
a.btn_y.soon .fa{
	margin-left: 0.7em;
}

a.btn.yellow{
	background: #eac554;
	color: #333;
	text-decoration: none;
}

a.btn.yellow:hover{
	background: #f4dc93;
}

/* ----------------------------------------------- */
/*                     anchor                      */
/* ----------------------------------------------- */
/* åŸºæœ¬ãƒªãƒ³ã‚¯ */
a			{ color: #b94531; outline: none; word-wrap: break-word; }
a:link		{ text-decoration: none; }
a:visited	{ text-decoration: none; }
a:hover		{ text-decoration: underline; }
a:active	{ text-decoration: underline; }

/* ãƒšãƒ¼ã‚¸å†…ãƒªãƒ³ã‚¯ãƒœã‚¿ãƒ³ */
.page_link a	{ text-decoration: none; color: #333; }

/* ----------------------------------------------- */
/*                       hr                        */
/* ----------------------------------------------- */
hr {
	border: none;
	border-bottom: 1px solid rgba(103, 149, 228, 0.5);
}

.tt{
	border: 0;
	background: url(../images/common/tateline.png) repeat-x;
	height: 15px;
}

.db {
    border: none;
    border-top: 3px double #bbb;
    text-align: center;
    margin: 60px 0;
}

/* ----------------------------------------------- */
/*                      sns                        */
/* ----------------------------------------------- */
.contents_sns {
    max-width: 1100px;
    margin: 15px auto 0;
    text-align: left;
    z-index: 100;
}

.contents_sns > *{
	margin: 0 3px 0 0;
}

@media screen and (min-width:769px){
	.snsBtn.line{
		display: none;
	}
}

@media screen and (max-width:768px){
	.contents_sns {
		max-width: 100%;
	}
}

/* ----------------------------------------------- */
/*                      footer                     */
/* ----------------------------------------------- */
#footer{
	position: relative;
	text-align: center;
	background: url(../images/common/back_footer.jpg) center top repeat;
	background-attachment: fixed;
	border-top: 2px #f0f0f0 solid;
	color: #444;
}

#footer::after{
	position: absolute;
	content: "";
	top: 15px;
	left: 0;
	width: 100%;
	height: 30px;
	background: url(../images/common/line5.png) left top repeat-x;
}

#footer .wrap{
	max-width: 1200px;
	margin: 0 auto;
	padding: 60px 5% 30px;
}

@media screen and (max-width:768px){
	#footer{
		background-size: 120% auto;
	}

	#footer .wrap{
		max-width: 100%;
		padding: 60px 5% 30px;
	}

	#sponsor{
		margin-bottom: 25px;
	}
}

#sponsor h3{
	font-size: 13px;
	font-size: 1.3rem;
	font-weight: bold;
	margin-bottom: 5px;
}

.sponsor_list{
	font-size: 12px;
	font-size: 1.2rem;
	margin-bottom: 30px;
}

@media screen and (max-width:768px){
	#sponsor h3{
		font-size: 11px;
		font-size: 1.1rem;
	}

	.sponsor_list{
		font-size: 11px;
		font-size: 1.1rem;
		margin-bottom: 30px;
	}
}

.sponsor_logo{
	text-align: center;
	margin-bottom: 3px;
}

.sponsor_logo img{
	max-width: 90px;
	height: auto;
}

.sponsor_logo.cfm img{
	max-width: 125px;
	height: auto;
}

#footer .btn{
	margin-bottom: 30px;
}

.footer_inquiry{
	margin: 30px auto 0;
	border: 2px #b3b6df solid;
	font-size: 12px;
	font-size: 1.2rem;
	width: 200px;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.footer_inquiry a{
	padding: 5px 0;
}

.footer_copy{
	font-size: 11px;
	font-size: 1.1rem;
}

.logo_piapro{
	vertical-align: middle;
	width: 55px;
	height: auto;
}

.privacy_link{
	font-size: 13px;
	font-size: 1.3rem;
	margin-bottom: 10px;
}

@media screen and (max-width:768px){
	.footer_copy{
		font-size: 9px;
		font-size: 0.9rem;
	}

	.logo_piapro{
		width: 50px;
	}

	.privacy_link{
		font-size: 11px;
		font-size: 1.1rem;
	}
}

/* ----------------------------------------------- */
/*                     map icon                    */
/* ----------------------------------------------- */
a.maplink{
	display: inline-block;
	position: relative;
	padding: 1px 8px 0 16px;
	font-size: 13px;
	line-height: 15px;
	background: #fff;
	color: #333;
	vertical-align: middle;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	vertical-align: 20%;
	border: 1px #ccc solid;
}

a.maplink:link,
a.maplink:hover{
	text-decoration: none;
}

a.maplink::before{
	display: block;
	position: absolute;
	left: 6px;
	top: 1px;
	font-family: FontAwesome;
	content: "\f041";
}

/* ----------------------------------------------- */
/*                     pageTop                     */
/* ----------------------------------------------- */
#pageTop.hide {
	bottom: -73px;
}

#pageTop{
	display: block;
	position: fixed;
	right: 20px;
	bottom: 30px;
	background-size: 100% auto;
	width: 50px;
	height: 50px;
	text-align: center;
	transition-duration: 0.3s;
	z-index: 100;
	opacity: 0.6;
}

@media screen and (max-width:768px){
	#pageTop{
		right: 10px;
		bottom: 25px;
	}
}

#pageTop::after{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	content: "\f01b";
	font-family: FontAwesome;
	background-size: 100% auto;
	width: inherit;
	height: inherit;
	color: #ceb16d;
	font-size: 50px;
	font-size: 5.0rem;
	line-height: 1.5;
}

#pageTop:hover{
	text-decoration: none;
}
