
*, *::before, *::after { box-sizing: border-box; }

#index_top{
	min-height: 780px;
}

.main_visual{
    position: absolute;
    background-size: auto 864px;
    height: 972px;
    width: 100%;
    background-position: center top 0px;
    background-image: url(../images/intro_gradient.png);
    z-index: -1;
	background-repeat: no-repeat;
}


.index_notice_news{
	margin-left: auto;
	background-color: bisque;
	border: solid rgb(192, 177, 159) 2px;
	width: 560px;
	padding: 20px;
}

.index_notice_news > p{
	margin: 0;
}

section > .wrap{
	max-width: 1200px;
	margin: 0 auto; /*up/down:0   left/right:auto */
	padding: 0 5%; /*up/down:0   left/right:5% */
}

#index_top > .wrap{
	margin-top: 450px;
}

#index_video{
	background-image: linear-gradient(rgba(11,15,18,0) 1%,rgba(252,252,252,1) 12%);
}

.video_demo{
	padding: 20px;
	background-color: #0b0f12;
	color:beige;
	text-align: center;
	border: beige 2px solid;
}

.video_demo > h2{
	margin: 0;
	padding-bottom: 20px;
}

.video_demo > p{
	padding-top: 20px;
	margin: 0;
}

.video iframe{
	width: 100% !important;
}

#index_introduction{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #fcfcfc;
}

#index_introduction > .wrap > h2{
	text-align: center;
}

#index_introduction > .wrap > p{
	text-align: justify;
	margin: 0;
	line-height: 25px;
}

footer{
	color: #fcfcfc;
	text-align: center;
	position: relative;
	background-color: #0b0f12;
	height: 100%;
}

footer p{
	margin: 0;	
	padding-top: 40px;
	justify-content: center;
}



footer .wrap{
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px 5% 15px;
}

.YTLink{
	text-align: end;
}

.YTLink a{
	text-decoration: none;
	color: #c67700;
	padding-right: 20px;
}